.gpt__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.gpt__navbar__links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.gpt__navbar__links__logo {
    margin-right: 2rem;
}

.gpt__navbar__links__logo img {
    width: 62.5px;
    height: 16px;
}

.gpt__navbar__links__container {
    display: flex;
    flex-direction: row;
}

.gpt__navbar__sign {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gpt__navbar__links__container p,
.gpt__navbar__sign p,
.gpt__navbar-menu__container p {
    color: #fff;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    margin: 0 1rem;
    text-transform: capitalize;
    line-height: 25px;
    cursor: pointer;
}

.gpt__navbar__sign button,
.gpt__navbar-menu__container button {
    background: #ff4820;
    color: #fff;
    padding: 0.5rem 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.gpt__navbar-menu {
    margin-left: 1rem;
    position: relative;
    display: none;
}

.gpt__navbar-menu svg {
    cursor: pointer;
}

.gpt__navbar-menu__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
.gpt__navbar-menu__container p{
    margin: 1rem 0;
}
.gpt__navbar-menu__container__links__sign{
    display: none;
}

@media screen and (max-width:1050px) 
{
.gpt__navbar__links__container {
    display: none;
}
.gpt__navbar-menu {
    display: flex;
}
    
}
@media screen and (max-width:750px) 
{
.gpt__navbar {
    padding: 2rem 4rem;
}
}
@media screen and (max-width:550px) 
{
.gpt__navbar {
    padding: 2rem ;
}
.gpt__navbar__sign{
    display: none;
}
.gpt__navbar-menu__container {
    top: 20px;
}
.gpt__navbar-menu__container__links__sign{
    display: block;
}
}